<section class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tick</p>
      <p class="title">{{ gameService.getTick() | async }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Cell Count</p>
      <p class="title" appCountAnimation [newValue]="gameService.getCellCount() | async" [disableAnimation]="isMouseDown">
        0
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading has-text-weight-bold">Cells Alive</p>
      <p class="title" appCountAnimation [newValue]="gameService.getCellsAlive() | async" [disableAnimation]="isMouseDown">
        {{ gameService.getCellsAlive() | async }}
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Cells Created</p>
      <p class="title" appCountAnimation [newValue]="gameService.getCellsCreated() | async" [disableAnimation]=isMouseDown>
        0
      </p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Speed</p>
      <p class="title">{{ gameService.getGameSpeed() | async }}%</p>
    </div>
  </div>
</section>
