<div class="columns is-fullwidth is-gapless">
  <div class="column is-size-7-mobile is-half-mobile">
    <strong>TICK: {{ currentTick }}</strong>
  </div>
  <div class="column is-size-7-mobile is-half-mobile">
    <strong>CELL COUNT: {{ cellCount }}</strong>
  </div>
  <div class="column is-size-7-mobile is-half-mobile">
    <strong>CELLS ALIVE: {{ cellsAlive }}</strong>
  </div>
  <div class="column is-size-7-mobile is-half-mobile">
    <strong>CELLS CREATED: {{ cellsCreated }}</strong>
  </div>
  <div class="column is-size-7-mobile is-half-mobile">
    <strong>SPEED: {{ currentSpeed }} %</strong>
  </div>
</div>
